body {
  margin: 0;
  overflow: hidden;
  margin: 0;
  background-color: #000;
  color: #666666;
  font-family: 'Lato', sans-serif;
}

#container {
  position: fixed;
  display: flex;
  background-color: #66666634;
  color: #fff;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  bottom: 0;
}

#container2 {
  position: fixed;
  background-color: #66666634;
  color: #fff;
  width: 100%;
  justify-content: center;
  bottom: 155px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: row;
}

label {
  margin: 5px;
}

.Slider {
  width: 50vw;
  bottom: 5px;
}

#dropArea {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  height: 500px;
  border: 4px dashed rgba(128, 128, 128, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  /* Added to stack the spans vertically */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}

#dropArea span {
  margin-bottom: 10px;
  /* Added to create space between the spans */
}

.button {
  z-index: 3;
  background: rgba(255, 255, 255, 0);
  border: 0 dashed rgba(128, 128, 128, 0.5);
  width: 64px;
  height: 64px;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* border-radius: 25px; */
  transition: 1s;
}

.close {
  top: -440px;
}

.open {
  top: 0px;
}

.buttonClose {
  top: 445px;
}

.arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: scaleY(-1);
  transition: 1s;
}

.addTrans {
  transform: scaleY(1);
}

.hidden {
  display: none !important;
}

#screenshotButton {
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 9999;
}

#resetButton {
  position: fixed;
  bottom: 65px;
  right: 20px;
  z-index: 9999;
}

#rotateButton {
  position: fixed;
  bottom: 105px;
  right: 20px;
  z-index: 9999;
}

#toogleLightSetButton {
  position: fixed;
  bottom: 205px;
  right: 20px;
  z-index: 9999;
}

#toggleStageButton {
  position: fixed;
  bottom: 165px;
  right: 20px;
  z-index: 9999;
}

#AppleARButton {
  position: absolute;
  display: none;
  bottom: 20px;
  padding: 12px 6px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  font: 13px sans-serif;
  text-align: center;
  opacity: 0.5;
  outline: none;
  z-index: 9999;
  cursor: pointer;
  left: calc(50% - 75px);
  width: 150px;
}

.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #3498db;
  /* Blue color for the button */
  cursor: pointer;
}

.custom-button:hover {
  background-color: #50b9ff;
}


#ARButton {
  display: none;
}

.dontShowAR {
  display: none !important;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  max-width: 450px;
  width: 90%;
  text-align: center;
}

.modal-content h2,
p {
  color: #888;
}

.closer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 34px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.button-container {
  margin-top: 20px;
}

.modal-content button {
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #3498db;
  /* Blue color for the button */
  cursor: pointer;
}

#toggleShadowsCheckbox {
  /* Hide the default checkbox appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 25px;
}

#toggleShadowsCheckbox:checked {
  background-color: #3498db;
  border: 1px solid #3498db;
}

#toggleShadowsCheckbox:checked::before {
  content: '\2713'; /* Checkmark symbol */
  display: block;
  color: white;
  text-align: center;
  line-height: 1.2;
}

#toggleShadowsCheckbox:not(:checked) {
  background-color: transparent;
  border: 1px solid #3498db;
}

/* Style for the checkmark content */
#toggleShadowsCheckbox::before {
  content: ''; /* Empty content when unchecked */
  display: block;
  color: white;
  text-align: center;
  line-height: 1.2;
}


@media only screen and (max-width: 844px) {
  .custom-button {
    padding: 10px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3498db;
    /* Blue color for the button */
    cursor: pointer;
  }

  #container2 {
    bottom: 182.5px;
  }

  #screenshotButton,
  #resetButton,
  #rotateButton,
  #toggleStageButton,
  #toogleLightSetButton {
    position: fixed;
    right: 10px;
  }

  #toogleLightSetButton {
    bottom: 185px;
  }

  #toggleStageButton {
    bottom: 145px;
  }

  #dropArea {
    height: 385px;
  }

  .close {
    top: -330px;
  }

  .open {
    top: -5px;
  }

  .buttonClose {
    top: 325px;
  }

  #ARButton {
    display: block;
  }

  .modal-content {
    max-width: 345px;
  }

  #Screenshotter {
    position: fixed;
    bottom: 75px;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Adjust for centering */
    padding: 10px 20px;
    /* Increase horizontal padding for better aesthetics */
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3498db;
    cursor: pointer;
    z-index: 2;
  }

}

a {
  color: #00f
}

#button {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 75px);
  width: 150px;
  z-index: 9999;
  cursor: pointer;
  height: 40px;
  display: none;
  border: none;
}